@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #ff00ff;
    user-select: none;
}
.OBS_page {
    position: relative;
    width: 1920px;
    height: 1080px;
}
.control_page {
    position: absolute;
    width: 480px;
    height: 1080px;
    left: 1920px;
    top: 0;
    background-color: white;
    text-align: center; 
}
.game {
    position: absolute;
    width: 80%;
    height: 20%;
    bottom: 3%;
    left: 10%;
}
.question {
    padding: 5px;
    width: 100%;
    height: 25%;
    background-image: linear-gradient(to left, rgb(0, 55, 207), rgb(8, 98, 216));
    text-align: center;
    font-size: 275%;
    color: white;
    clip-path: polygon(2% 0, 98% 0, 100% 50%, 100% 50%, 98% 100%, 2% 100%, 0 50%, 0 50%);
}
.anwsers {
    width: 100%;
    height: 75%;
}
.anwser {
    padding: 5px 0 2px 0;
    width: 48.5%;
    background-image: linear-gradient(to left, rgb(0, 55, 207), rgb(8, 98, 216));
    height: 25%;
    margin: 0.5% 1%;
    text-align: center;
    color: white;
    font-size: 225%;
    clip-path: polygon(4% 0, 96% 0, 100% 50%, 100% 50%, 96% 100%, 4% 100%, 0 50%, 0 50%);
    position: absolute;
}

#a1 {
    left: 0;
    top: 68px;
}
#a2 {
    right: 0;
    top: 68px;
}
#a3 {
    left: 0;
    bottom: 0;
}
#a4 {
    right: 0;
    bottom: 0;
}
.longButton {
    width: 90%;
    margin: 2% 3%;
    border: 1px solid black;
    color: black;
    padding: 10px;
    font-size: 150%;
    background-color: white;
    transition: 0.3s;
}
.longButton:hover {
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
.koloratunkowe {
    font-size: 150%;
    justify-items: center;
    justify-content: center;
    height: 75px;
    width: 30%;
    display: inline-block;
    border: 1px solid black;
    transition: 0.3s;
    background-color: white;
} 
.koloratunkowe:hover {
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}