@keyframes tencza {
    0% {
        color: rgb(255, 0, 0);
    }
    20%{
        color: rgb(255, 187, 0);
    }
    40%{
        color: rgb(238, 255, 0);
    }
    60% {
        color: rgb(9, 255, 0);
    }
    80% {
        color: rgb(17, 0, 255);
    }
    100% {
        color: rgb(204, 0, 255);
    }
}

#congrats {
    padding-top: 100px;
    width: 100vw;
    height: 40vh;
    background-image: url(3x.gif);
    position:  absolute;
    top: 90%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 600%;
    text-align: center;
    font-weight:  bolder;
    animation-name: tencza;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: none;
}